/* Sección Features */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 50px;
    color: var(--light);
    position: relative;
    z-index: 1;
}

/* Estilos para las tarjetas dentro de features */
.feature-card {
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px var(--shadow);
}

.feature-card i {
    color: var(--secondary);
}

/* Sección CTA Banner */
.cta-banner {
    text-align: center;
    padding: 80px 20px;
    background: var(--gradient-2);
    color: var(--dark);
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

/* Fondo difuminado y centrado para el popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 999; 
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--gradient-2);
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 15px 30px var(--shadow);
    z-index: 1000; 
    color: var(--dark);
}

.popup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup-form h2 {
    text-align: center;
    color: var(--dark); 
}

.popup-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.popup-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--dark);
    color: var(--light); 
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.popup-form button:hover {
    background: lighten(var(--dark), 10%);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--dark); 
}

/*Estilo contraseña de login y register*/
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .password-container input {
    width: 100%;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
  }
  
  .eye-icon {
    font-size: 1.2em;
  }