/* Estilos para el carrusel de fotos de pagina principal*/
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    margin: 20px auto;
    border-radius: 10px;
}

/* Estilos para la pista del carrusel */
.carousel-track {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
    padding: 10px;
}

/* Estilos para cada imagen en el carrusel */
.carousel-image {
    min-width: calc(100% / 3 - 10px);
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s;
}

/* Añadir efecto de zoom suave al pasar el cursor sobre la imagen */
.carousel-image:hover {
    transform: scale(1.05);
}

/* Estilos para los botones del carrusel */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.carousel-btn.prev {
    left: 5px;
}

.carousel-btn.next {
    right: 5px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}